<div
  class="toast-container fixed top-5 left-1/2 transform -translate-x-1/2 z-50 flex flex-col gap-3"
>
  @for (toast of toastService.toasts(); track toast.id) {
    <div
      class="toast px-5 py-3 rounded-xl shadow-lg text-white min-w-[220px] text-center animate-fade-in-down"
      [ngClass]="{
        'bg-[#004E89]': toast.type === 'info',
        'bg-green-600': toast.type === 'success',
        'bg-red-600': toast.type === 'error'
      }"
    >
      {{ toast.message }}
    </div>
  }
</div>
